@charset "utf-8";

* { margin: 0; padding: 0;text-decoration: none; font-size: 1em; outline: none;     box-sizing: border-box;}
/* reset */
    html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;font-family: sans-serif;}
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {display: block;}
    body {line-height: 1;font-family: sans-serif;}

    ol, ul {list-style: none;}
    blockquote, q {quotes: none;}
    blockquote:before, blockquote:after,
    q:before, q:after {content: '';content: none;}
    table {border-collapse: collapse;border-spacing: 0;}
    a{text-decoration: none;cursor: pointer;}
    button{background: none ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer} 
    a:link {text-decoration:none;}
    a:visited {text-decoration:none;}
    a:hover {text-decoration:none;}
    a:active {text-decoration:none;}

    /* common 
    html,body {height: 100%;padding: 0;margin: 0;}
    address,caption,cite,code,dfn,em,var,h1,h2,h3,h4,h5,h6{font-style:normal;font-weight:normal;}
    body,a,[type=text], [type=password], [type=file], [type=email], [type=number], [type=tel],select,h1, h2, h3, h4, h5, h6, pre,textarea{vertical-align:middle;}*/
    .clearfix:after {display: block;clear: both;content: '';}
    .ir {display: block;text-indent: -9999px;}
    .title_bg {font-weight: bold;}
    .fc_r {color: #e9346f;}

    /*여백*/
    .mr{margin-right: 1%;}
    .mr_n{margin-right: 0;}
    .ml{margin-left: 1%;}
    .ml_n{margin-left: 0;}
    .m_c{margin-left: 1%;margin-right: 1%;}
    .mr2{margin-right: 2%;}
    .ml2{margin-left: 2%;}
    .m_c2{margin-left: 2%;margin-right: 2%;}

    /*after*/
    .clearfix:after {content: "";display: table;clear: both;}

/*aside, section {float: left;}*/
/*aside, section {display: inline-block;}*/
/*aside, section {float: left; width: calc(100%/3);}*/
aside.last {margin:0;}
footer {display: block;}

#wrap {width: 1200px; border: 1px solid #000; margin: 0 auto;}

header, nav, footer  {height: 100px; text-align: center;}
/*aside, section {height: 150px;}*/

header {background-color: red;}
nav {background-color: blue;}
aside {background-color: aqua;}
section {background-color: yellow;}
footer {background-color: pink;}


#body{display: grid;
grid-template-rows: repeat(3, 100px);
grid-template-columns: repeat(3, 1fr);
}
.item1 {background-color: rgb(0, 255, 179); grid-column: 1 / 2;}
.item2 {background-color: magenta;}
.item3 {background-color: rgb(0, 255, 0);}
.item4 {background-color: rgb(0, 255, 179); grid-column: 1 / 2;}
.item5 {background-color: magenta;}
.item6 {background-color: rgb(52, 186, 196, 0.5);}
.item7 {background-color: rgb(0, 255, 179); grid-column: 1 / 2;}
.item8 {background-color: magenta;}
.item9 {background-color: rgba(131, 52, 196, 0.5);}